{% extends "layouts/base.html" %}

{% block title %} Finance {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">

		<!-- Page banner -->
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Finanace</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Finanace</a>
					</li>
				</ul>
			</div>
			<!-- Page banner END -->

			<div class="row">

				<!-- LHS widget -->
				<div class="col-4">
					<div class="card">

						<!-- Card header -->
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<div class="card-title">Markets</div>
								<div class="card-tools">
									<a class="btn btn-info btn-round btn-sm mr-1" id="btn_US_tickers" onclick="load_tickers('US')">US</a>
									<a class="btn btn-info btn-border btn-round btn-sm mr-1" id="btn_ETFs_tickers" onclick="load_tickers('ETFs')">ETFs</a>
								</div>
							</div>
						</div>

						<!-- Card contents -->
						<div class="card-body" id="default_US" style="display: block;">
							{% for companyName, latestPrice, changePercent, ticker in US_tickers %}
								<div class="d-flex bg-clr-hover">
									<div class="flex-1">
										<h6 class="text-uppercase fw-bold">{{companyName}}</h6>
										{% if changePercent > 0 %}
											<h4 class="card-text text-success">{{latestPrice}}<small class="text-success">USD</small></h4>
										{% else %}
											<h4 class="card-text text-danger">{{latestPrice}}<small class="text-danger">USD</small></h4>
										{% endif %}
									</div>
									<div class="float-right align-self-center">
										{% if changePercent > 0 %}
											<h4 class="card-text text-success" style="text-align: right">{{changePercent}}%</h4>
										{% else %}
											<h4 class="card-text text-danger" style="text-align: right">{{changePercent}}%</h4>
										{% endif %}
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>

						<!-- Card contents -->
						<div class="card-body" id="default_ETFs" style="display: none;">
							{% for companyName, latestPrice, changePercent, ticker in US_ETFs_tickers %}
								<div class="d-flex bg-clr-hover">
									<div class="flex-1">
										<h6 class="text-uppercase fw-bold">{{companyName}}</h6>
										{% if changePercent > 0 %}
											<h4 class="card-text text-success">{{latestPrice}}<small class="text-success">USD</small></h4>
										{% else %}
											<h4 class="card-text text-danger">{{latestPrice}}<small class="text-danger">USD</small></h4>
										{% endif %}
									</div>
									<div class="float-right align-self-center">
										{% if changePercent > 0 %}
											<h4 class="card-text text-success" style="text-align: right">{{changePercent}}%</h4>
										{% else %}
											<h4 class="card-text text-danger" style="text-align: right">{{changePercent}}%</h4>
										{% endif %}
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>

					</div>
				</div>

				<!-- RHS widget -->
				<div class="col-8">
					<div class="card">

						<!-- Card header -->
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<div class="card-title">Financial news</div>
							</div>
						</div>

						<!-- Card contents -->
						<div class="card-body" id="default_US" style="display: block;">
						</div>
					</div>
				</div>


			</div>
		</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script>
		function load_tickers(category) {
			// Show US symbols
			if (category == 'US') {
				// Adjust display
				document.querySelector('#default_US').style.display = 'block';
				document.querySelector('#default_ETFs').style.display = 'none';
				// Adjust buttons
				document.getElementById('btn_US_tickers').className = 'btn btn-info btn-round btn-sm mr-1';
				document.getElementById('btn_ETFs_tickers').className = 'btn btn-info btn-border btn-round btn-sm mr-1';
			}
			// Show ETFs
			if (category == 'ETFs') {
				// Adjust display
				document.querySelector('#default_US').style.display = 'none';
				document.querySelector('#default_ETFs').style.display = 'block';
				// Adjust buttons
				document.getElementById('btn_US_tickers').className = 'btn btn-info btn-border btn-round btn-sm mr-1';
				document.getElementById('btn_ETFs_tickers').className = 'btn btn-info btn-round btn-sm mr-1';
			}
		}
	</script>


{% endblock javascripts %}
