{% extends "layouts/base.html" %}

{% block title %} Finance {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">

		<!-- Page banner -->
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold"> <small> <a href="#"><i class="flaticon-home"></i></a> <i class="flaticon-right-arrow"></i> </small> Finance</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- Page banner END -->

		<div class="page-inner mt--5">

			<div class="row mt--2">

				<!-- LHS widget -->
				<div class="col-3">
					<div class="card">

						<!-- Card header -->
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<div class="card-title">Markets</div>
								<div class="card-tools">
									<a class="btn btn-info btn-round btn-sm mr-1" id="btn_US_tickers" onclick="load_tickers('US')">US</a>
									<a class="btn btn-info btn-border btn-round btn-sm mr-1" id="btn_ETFs_tickers" onclick="load_tickers('ETFs')">ETFs</a>
								</div>
							</div>
						</div>

						<!-- Card contents: US symbols -->
						<div class="card-body" id="default_US" style="display: block;">
							{% for companyName, latestPrice, changePercent, ticker in US_tickers %}
								<div class="d-flex bg-clr-hover">
									<div class="flex-1">
										<h6 class="text-uppercase fw-bold">{{companyName}}</h6>
										{% if changePercent > 0 %}
											<h5 class="card-text text-success">{{latestPrice}}<small class="text-success">USD</small></h5>
										{% else %}
											<h5 class="card-text text-danger">{{latestPrice}}<small class="text-danger">USD</small></h5>
										{% endif %}
									</div>
									<div class="float-right align-self-center">
										{% if changePercent > 0 %}
											<h5 class="card-text text-success" style="text-align: right">{{changePercent}}%</h5>
										{% else %}
											<h5 class="card-text text-danger" style="text-align: right">{{changePercent}}%</h5>
										{% endif %}
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>

						<!-- Card contents: ETF symbols -->
						<div class="card-body" id="default_ETFs" style="display: none;">
							{% for companyName, latestPrice, changePercent, ticker in US_ETFs_tickers %}
								<div class="d-flex bg-clr-hover">
									<div class="flex-1">
										<h6 class="text-uppercase fw-bold">{{companyName}}</h6>
										{% if changePercent > 0 %}
											<h4 class="card-text text-success">{{latestPrice}}<small class="text-success">USD</small></h4>
										{% else %}
											<h4 class="card-text text-danger">{{latestPrice}}<small class="text-danger">USD</small></h4>
										{% endif %}
									</div>
									<div class="float-right align-self-center">
										{% if changePercent > 0 %}
											<h4 class="card-text text-success" style="text-align: right">{{changePercent}}%</h4>
										{% else %}
											<h4 class="card-text text-danger" style="text-align: right">{{changePercent}}%</h4>
										{% endif %}
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>

					</div>
				</div>

				<!-- RHS widget -->
				<div class="col-9">
					<div class="card">

						<!-- Card header -->
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<div class="card-title">Financial news</div>
							</div>
						</div>

						<!-- Body: Financial news -->
						<div class="card-body" id="US_bz_news" style="display: block;">
							{% for src, title, url, publishedAt, img in fin_articles %}
								<div class="d-flex">
									<div class="flex-1">
										<p class="card-text"><small class="text-muted">{{src}} • {{publishedAt}}</small></p>
										<a href="{{url}}" class="deco-none" target="_blanks"><p class="card-text">{{title}}</p></a>
									</div>
									<div class="float-right">
										<a href="{{url}}" target="_blank"><img src="{{img}}" onerror="this.style.display='none'" class="img-responsive fit-image rounded" style="max-width: 200px;" alt=""></a>
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>


					</div>
				</div>


			</div>
		</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script>
		function load_tickers(category) {
			// Show US symbols
			if (category == 'US') {
				// Adjust display
				document.querySelector('#default_US').style.display = 'block';
				document.querySelector('#default_ETFs').style.display = 'none';
				// Adjust buttons
				document.getElementById('btn_US_tickers').className = 'btn btn-info btn-round btn-sm mr-1';
				document.getElementById('btn_ETFs_tickers').className = 'btn btn-info btn-border btn-round btn-sm mr-1';
			}
			// Show ETFs
			if (category == 'ETFs') {
				// Adjust display
				document.querySelector('#default_US').style.display = 'none';
				document.querySelector('#default_ETFs').style.display = 'block';
				// Adjust buttons
				document.getElementById('btn_US_tickers').className = 'btn btn-info btn-border btn-round btn-sm mr-1';
				document.getElementById('btn_ETFs_tickers').className = 'btn btn-info btn-round btn-sm mr-1';
			}
		}
	</script>


{% endblock javascripts %}
