{% extends "layouts/base.html" %}

{% block title %} News {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">

		<!-- Page banner -->
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white fw-bold"> <small> <a href="#"><i class="flaticon-home"></i></a> <i class="flaticon-right-arrow"></i> </small> News</h2>
						<p class="text-white"> Regions: &nbsp
							<a class="btn btn-secondary btn-round btn-sm" id="btn_US_news" onclick="load_news('US_gen')">US</a>
							<a class="btn btn-transparent btn-round btn-sm" id="btn_UK_news" onclick="load_news('UK_gen')">UK</a>
					 	</p>
					</div>
					<div class="ml-md-auto py-2 py-md-0">
						<a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
						<a href="#" class="btn btn-secondary btn-round">Placeholder</a>
					</div>
				</div>
			</div>
		</div>

    <!-- Content -->
		<div class="page-inner mt--5">
			<div class="row mt--2">
        <div class="col-md-12">

          <!-- Card: US news-->
          <div class="card full-height" id="US_news" style="display: block;">
            <!-- Header -->
            <div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<div class="card-description fw-bold">Categories: &nbsp &nbsp</div>
                <a class="btn btn-secondary btn-round btn-sm" id="btn_US_gen_news" onclick="load_news('US_gen')">General</a>
                <a class="btn btn-transparent btn-round btn-sm" id="btn_US_bz_news" onclick="load_news('US_bz')">Business</a>
                <a class="btn btn-transparent btn-round btn-sm" id="btn_US_tech_news" onclick="load_news('US_tech')">Technology</a>
								<a class="btn btn-transparent btn-round btn-sm" id="btn_US_sports_news" onclick="load_news('US_sports')">Sports</a>
								<div class="card-tools">
									<button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card" onClick="window.location.reload();"><span class="fa fa-sync-alt"></span></button>
								</div>
							</div>
						</div>

						<!-- Body: US general news -->
						<div class="card-body" id="US_gen_news" style="display: block;">
							{% for src, title, url, publishedAt, img in US_gen_articles %}
								<div class="d-flex">
									<div class="flex-1">
										<p class="card-text"><small class="text-muted">{{src}} • {{publishedAt}}</small></p>
										<a href="{{url}}" class="deco-none" target="_blanks"><p class="card-text">{{title}}</p></a>
									</div>
									<div class="float-right">
										<a href="{{url}}" target="_blank"><img src="{{img}}" onerror="this.style.display='none'" class="img-responsive fit-image rounded" style="max-width: 300px;" alt=""></a>
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>

            <!-- Body: US business news -->
						<div class="card-body" id="US_bz_news" style="display: none;">
							{% for src, title, url, publishedAt, img in US_bz_articles %}
								<div class="d-flex">
									<div class="flex-1">
										<p class="card-text"><small class="text-muted">{{src}} • {{publishedAt}}</small></p>
										<a href="{{url}}" class="deco-none" target="_blanks"><p class="card-text">{{title}}</p></a>
									</div>
									<div class="float-right">
										<a href="{{url}}" target="_blank"><img src="{{img}}" onerror="this.style.display='none'" class="img-responsive fit-image rounded" style="max-width: 300px;" alt=""></a>
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>

            <!-- Body: US tech news -->
						<div class="card-body" id="US_tech_news" style="display: none;">
							{% for src, title, url, publishedAt, img in US_tech_articles %}
								<div class="d-flex">
									<div class="flex-1">
										<p class="card-text"><small class="text-muted">{{src}} • {{publishedAt}}</small></p>
										<a href="{{url}}" class="deco-none" target="_blanks"><p class="card-text">{{title}}</p></a>
									</div>
									<div class="float-right">
										<a href="{{url}}" target="_blank"><img src="{{img}}" onerror="this.style.display='none'" class="img-responsive fit-image rounded" style="max-width: 300px;" alt=""></a>
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>

						<!-- Body: US sports news -->
						<div class="card-body" id="US_sports_news" style="display: none;">
							{% for src, title, url, publishedAt, img in US_sports_articles %}
								<div class="d-flex">
									<div class="flex-1">
										<p class="card-text"><small class="text-muted">{{src}} • {{publishedAt}}</small></p>
										<a href="{{url}}" class="deco-none" target="_blanks"><p class="card-text">{{title}}</p></a>
									</div>
									<div class="float-right">
										<a href="{{url}}" target="_blank"><img src="{{img}}" onerror="this.style.display='none'" class="img-responsive fit-image rounded" style="max-width: 300px;" alt=""></a>
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>

          </div>

          <!-- Card: UK news-->
          <div class="card full-height" id="UK_news" style="display: none;">
            <!-- Header -->
            <div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<div class="card-description fw-bold">Categories: &nbsp &nbsp</div>
                <a class="btn btn-secondary btn-sm mr-2" id="btn_UK_gen_news" onclick="load_news('UK_gen')">General</a>
                <a class="btn btn-secondary btn-sm btn-border mr-2" id="btn_UK_bz_news" onclick="load_news('UK_bz')">Business</a>
                <a class="btn btn-secondary btn-sm btn-border mr-2" id="btn_UK_tech_news" onclick="load_news('UK_tech')">Technology</a>
								<a class="btn btn-secondary btn-sm btn-border mr-2" id="btn_UK_sports_news" onclick="load_news('UK_sports')">Sports</a>
								<div class="card-tools">
									<button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card" onClick="window.location.reload();"><span class="fa fa-sync-alt"></span></button>
								</div>
							</div>
						</div>
            <!-- Body: UK general news section -->
						<div class="card-body" id="UK_gen_news" style="display: none;">
							{% for src, title, url, publishedAt, img in UK_gen_articles %}
								<div class="d-flex">
									<div class="flex-1">
										<p class="card-text"><small class="text-muted">{{src}} • {{publishedAt}}</small></p>
										<a href="{{url}}" class="deco-none" target="_blanks"><p class="card-text">{{title}}</p></a>
									</div>
									<div class="float-right">
										<a href="{{url}}" target="_blank"><img src="{{img}}" onerror="this.style.display='none'" class="img-responsive fit-image rounded" style="max-width: 300px;" alt=""></a>
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>

            <!-- Body: UK business news section -->
						<div class="card-body" id="UK_bz_news" style="display: none;">
							{% for src, title, url, publishedAt, img in UK_bz_articles %}
								<div class="d-flex">
									<div class="flex-1">
										<p class="card-text"><small class="text-muted">{{src}} • {{publishedAt}}</small></p>
										<a href="{{url}}" class="deco-none" target="_blanks"><p class="card-text">{{title}}</p></a>
									</div>
									<div class="float-right">
										<a href="{{url}}" target="_blank"><img src="{{img}}" onerror="this.style.display='none'" class="img-responsive fit-image rounded" style="max-width: 300px;" alt=""></a>
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>

            <!-- Body: UK tech news section -->
						<div class="card-body" id="UK_tech_news" style="display: none;">
							{% for src, title, url, publishedAt, img in UK_tech_articles %}
								<div class="d-flex">
									<div class="flex-1">
										<p class="card-text"><small class="text-muted">{{src}} • {{publishedAt}}</small></p>
										<a href="{{url}}" class="deco-none" target="_blanks"><p class="card-text">{{title}}</p></a>
									</div>
									<div class="float-right">
										<a href="{{url}}" target="_blank"><img src="{{img}}" onerror="this.style.display='none'" class="img-responsive fit-image rounded" style="max-width: 300px;" alt=""></a>
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>

						<!-- Body: UK sports news section -->
						<div class="card-body" id="UK_sports_news" style="display: none;">
							{% for src, title, url, publishedAt, img in UK_sports_articles %}
								<div class="d-flex">
									<div class="flex-1">
										<p class="card-text"><small class="text-muted">{{src}} • {{publishedAt}}</small></p>
										<a href="{{url}}" class="deco-none" target="_blanks"><p class="card-text">{{title}}</p></a>
									</div>
									<div class="float-right">
										<a href="{{url}}" target="_blank"><img src="{{img}}" onerror="this.style.display='none'" class="img-responsive fit-image rounded" style="max-width: 300px;" alt=""></a>
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>

          </div>

        </div>
			</div>

      <!-- Copy Format of the card below -->
			<div class="row row-card-no-pd">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<h4 class="card-title"> Current regional coverage </h4>
							</div>
							<!-- <p class="card-category">
							Map of the distribution of users around the world</p> -->
						</div>
						<div class="card-body">
							<div class="col-md-10 ml-auto mr-auto">
								<div class="mapcontainer">
									<div id="map-example" class="vmap" style="height: 400px"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>

	<script>

    // Show region-specific news
    function load_news(region) {

      if (region == 'US_gen') {
        // Adjust news articles
        document.querySelector('#US_news').style.display = 'block'
        document.querySelector('#UK_news').style.display = 'none'
        document.querySelector('#US_gen_news').style.display = 'block'
        document.querySelector('#US_bz_news').style.display = 'none'
        document.querySelector('#US_tech_news').style.display = 'none'
				document.querySelector('#US_sports_news').style.display = 'none'

        // Adjust buttons
        document.getElementById('btn_US_news').className = 'btn btn-secondary btn-round btn-sm';
        document.getElementById('btn_UK_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_US_gen_news').className = 'btn btn-secondary btn-round btn-sm';
        document.getElementById('btn_US_bz_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_US_tech_news').className = 'btn btn-transparent btn-round btn-sm';
				document.getElementById('btn_US_sports_news').className = 'btn btn-transparent btn-round btn-sm';

      }

      else if (region == 'US_bz') {
        // Adjust news articles
        document.querySelector('#US_news').style.display = 'block'
        document.querySelector('#UK_news').style.display = 'none'
        document.querySelector('#US_gen_news').style.display = 'none'
        document.querySelector('#US_bz_news').style.display = 'block'
        document.querySelector('#US_tech_news').style.display = 'none'
				document.querySelector('#US_sports_news').style.display = 'none'

        // Adjust buttons
        document.getElementById('btn_US_news').className = 'btn btn-secondary btn-round btn-sm';
        document.getElementById('btn_UK_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_US_gen_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_US_bz_news').className = 'btn btn-secondary btn-round btn-sm';
        document.getElementById('btn_US_tech_news').className = 'btn btn-transparent btn-round btn-sm';
				document.getElementById('btn_US_sports_news').className = 'btn btn-transparent btn-round btn-sm';
      }

      else if (region == 'US_tech') {
        // Adjust news articles
        document.querySelector('#US_news').style.display = 'block'
        document.querySelector('#UK_news').style.display = 'none'
        document.querySelector('#US_gen_news').style.display = 'none'
        document.querySelector('#US_bz_news').style.display = 'none'
        document.querySelector('#US_tech_news').style.display = 'block'
				document.querySelector('#US_sports_news').style.display = 'none'

        // Adjust buttons
        document.getElementById('btn_US_news').className = 'btn btn-secondary btn-round btn-sm';
        document.getElementById('btn_UK_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_US_gen_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_US_bz_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_US_tech_news').className = 'btn btn-secondary btn-round btn-sm';
				document.getElementById('btn_US_sports_news').className = 'btn btn-transparent btn-round btn-sm';
      }

			else if (region == 'US_sports') {
        // Adjust news articles
        document.querySelector('#US_news').style.display = 'block'
        document.querySelector('#UK_news').style.display = 'none'
        document.querySelector('#US_gen_news').style.display = 'none'
        document.querySelector('#US_bz_news').style.display = 'none'
        document.querySelector('#US_tech_news').style.display = 'none'
				document.querySelector('#US_sports_news').style.display = 'block'

        // Adjust buttons
        document.getElementById('btn_US_news').className = 'btn btn-secondary btn-round btn-sm';
        document.getElementById('btn_UK_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_US_gen_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_US_bz_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_US_tech_news').className = 'btn btn-transparent btn-round btn-sm';
				document.getElementById('btn_US_sports_news').className = 'btn btn-secondary btn-round btn-sm';
      }

      else if (region == 'UK_gen') {
        // News news articles
        document.querySelector('#US_news').style.display = 'none'
        document.querySelector('#UK_news').style.display = 'block'
        document.querySelector('#UK_gen_news').style.display = 'block'
        document.querySelector('#UK_bz_news').style.display = 'none'
        document.querySelector('#UK_tech_news').style.display = 'none'
				document.querySelector('#UK_sports_news').style.display = 'none'
        // Adjust buttons
        document.getElementById('btn_US_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_UK_news').className = 'btn btn-secondary btn-round btn-sm';
        document.getElementById('btn_UK_gen_news').className = 'btn btn-secondary btn-round btn-sm';
        document.getElementById('btn_UK_bz_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_UK_tech_news').className = 'btn btn-transparent btn-round btn-sm';
				document.getElementById('btn_UK_sports_news').className = 'btn btn-transparent btn-round btn-sm';
      }

      else if (region == 'UK_bz') {
        // News news articles
        document.querySelector('#US_news').style.display = 'none'
        document.querySelector('#UK_news').style.display = 'block'
        document.querySelector('#UK_gen_news').style.display = 'none'
        document.querySelector('#UK_bz_news').style.display = 'block'
        document.querySelector('#UK_tech_news').style.display = 'none'
				document.querySelector('#UK_sports_news').style.display = 'none'
        // Adjust buttons
        document.getElementById('btn_US_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_UK_news').className = 'btn btn-secondary btn-round btn-sm';
        document.getElementById('btn_UK_gen_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_UK_bz_news').className = 'btn btn-secondary btn-round btn-sm';
        document.getElementById('btn_UK_tech_news').className = 'btn btn-transparent btn-round btn-sm';
				document.getElementById('btn_UK_sports_news').className = 'btn btn-transparent btn-round btn-sm';
      }

      else if (region == 'UK_tech') {
        // News news articles
        document.querySelector('#US_news').style.display = 'none'
        document.querySelector('#UK_news').style.display = 'block'
        document.querySelector('#UK_gen_news').style.display = 'none'
        document.querySelector('#UK_bz_news').style.display = 'none'
        document.querySelector('#UK_tech_news').style.display = 'block'
				document.querySelector('#UK_sports_news').style.display = 'none'
        // Adjust buttons
        document.getElementById('btn_US_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_UK_news').className = 'btn btn-secondary btn-round btn-sm';
        document.getElementById('btn_UK_gen_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_UK_bz_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_UK_tech_news').className = 'btn btn-secondary btn-round btn-sm';
				document.getElementById('btn_UK_sports_news').className = 'btn btn-transparent btn-round btn-sm';
      }

			else if (region == 'UK_sports') {
        // News news articles
        document.querySelector('#US_news').style.display = 'none'
        document.querySelector('#UK_news').style.display = 'block'
        document.querySelector('#UK_gen_news').style.display = 'none'
        document.querySelector('#UK_bz_news').style.display = 'none'
        document.querySelector('#UK_tech_news').style.display = 'none'
				document.querySelector('#UK_sports_news').style.display = 'block'
        // Adjust buttons
        document.getElementById('btn_US_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_UK_news').className = 'btn btn-secondary btn-round btn-sm';
        document.getElementById('btn_UK_gen_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_UK_bz_news').className = 'btn btn-transparent btn-round btn-sm';
        document.getElementById('btn_UK_tech_news').className = 'btn btn-transparent btn-round btn-sm';
				document.getElementById('btn_UK_sports_news').className = 'btn btn-secondary btn-round btn-sm';
      }

    }

		$('#map-example').vectorMap(
		{
			map: 'world_en',
			backgroundColor: 'transparent',
			borderColor: '#fff',
			borderWidth: 2,
			color: '#e4e4e4',
			enableZoom: true,
			hoverColor: '#35cd3a',
			hoverOpacity: null,
			normalizeFunction: 'linear',
			scaleColors: ['#b6d6ff', '#005ace'],
			selectedColor: '#35cd3a',
			selectedRegions: ['US', 'GB'],
			showTooltip: true,
			onRegionClick: function(element, code, region)
			{
				if (code == "us") {
					load_news("US_gen");
				}
				else if (code=="gb") {
					load_news("UK_gen");
				}
				window.scrollTo({top: 0, behavior: 'smooth'});
			},
			onResize: function (element, width, height) {
				console.log('Map Size: ' +  width + 'x' +  height);
			},
		});

	</script>

{% endblock javascripts %}
