{% extends "layouts/base.html" %}

{% block title %} Finance {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content" >

		<!-- Page banner -->
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold"> <small> <a href="{% url 'home' %}"><i class="flaticon-home"></i></a> <i class="flaticon-right-arrow"></i> </small> Paper trading</h2>
					</div>
				</div>
			</div>
		</div>

    <!-- Page contents -->
    <div class="page-inner mt--5">
      <div class="row mt--2">

        <!-- LHS widget -->
        <div class="col-3">
          <div class="card">

            <!-- Card header -->
            <div class="card-header">
              <div class="card-head-row card-tools-still-right">
                <div class="card-title"> Watchlist </div>
                <div class="card-tools">
                  <!-- ******** TODO: When clicked, show remove symbol button -->
									<button class="btn btn-icon btn-link btn-primary btn-s" id="btn_watchlist_settings" onclick="watchlist_settings()" style="display: block;">Edit</button>
                  <button class="btn btn-icon btn-link btn-primary btn-s" id="btn_watchlist_settings_done" onclick="watchlist_settings_done()" style="display: none;">Done</button>
								</div>
              </div>
            </div>

            <!-- Card contents: Watchlist symbols -->
            <div class="card-body card-tools-still-right" id="watchlist_symbols">
              {% for symbol, companyName in usr_watchlist %}
                <!-- Is ID {{symbol}} correct? -->
                <div class="d-flex bg-clr-hover" id="{{symbol}}" style="display: block">
                  <div class="flex-1">
                    <h6 class="fw-bold">{{symbol}} - {{companyName}}</h6>
                  </div>
                  <div class="card-tools watchlist-remove-btns" style="display: none;">
                    <!-- ******** TODO: When clicked, remove symbols from watchlist -->
  									<button class="btn btn-icon btn-link btn-danger btn-xs" id="remove-'{{symbol}}'" onclick="#')"><span class="far fa-trash-alt"></span></button>
  								</div>
                </div>
                <div class="separator-dashed"></div>
              {% endfor %}
            </div>

          </div>
        </div>


      </div>
    </div>




	</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>

    // Show remove-from-watchlist buttons
    function watchlist_settings() {
      document.querySelector('#btn_watchlist_settings').style.display = 'none';
      document.querySelector('#btn_watchlist_settings_done').style.display = 'block';
      document.querySelectorAll('.card-tools.watchlist-remove-btns').forEach(elem => {
        elem.style.display = 'block';
      })
    }

    // Hide remove-from-watchlist buttons
    function watchlist_settings_done() {
      document.querySelector('#btn_watchlist_settings').style.display = 'block';
      document.querySelector('#btn_watchlist_settings_done').style.display = 'none';
      document.querySelectorAll('.card-tools.watchlist-remove-btns').forEach(elem => {
        elem.style.display = 'none';
      })
    }

  </script>

{% endblock javascripts %}
