{% extends "layouts/base.html" %}

{% block title %} Finance {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content" >

		<!-- Page banner -->
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold"> <small> <a href="{% url 'home' %}"><i class="flaticon-home"></i></a> <i class="flaticon-right-arrow"></i> </small> Paper trading</h2>
					</div>
				</div>
			</div>
		</div>

    <!-- Page contents -->
    <div class="page-inner mt--5">
      <div class="row mt--2">

        <!-- LHS widget -->
        <div class="col-3">
          <div class="card">

            <!-- Card header -->
            <div class="card-header">
              <div class="card-head-row card-tools-still-right">
                <div class="card-title"> Watchlist </div>
                <div class="card-tools">
									<button class="btn btn-icon btn-link btn-primary btn-s" id="btn_watchlist_settings" onclick="watchlist_settings()" style="display: block;">Edit</button>
                  <button class="btn btn-icon btn-link btn-primary btn-s" id="btn_watchlist_settings_done" onclick="watchlist_settings_done()" style="display: none;">Done</button>
								</div>
              </div>
            </div>

            <!-- Card contents: Watchlist symbols -->
            <div class="card-body card-tools-still-right" id="watchlist_symbols">
              {% for symbol, companyName in usr_watchlist %}
                <div id="watchlist-item-{{symbol}}" style="display: block;">
                  <div class="d-flex bg-clr-hover">
                    <!-- Symbol and name -->
                    <div class="flex-1" >
                      <h6 class="fw-bold">{{symbol}} - {{companyName}}</h6>
                    </div>
                    <!-- Button to remove symbol from watchlist -->
                    <div class="card-tools watchlist-remove-btns" style="display: none;">
                      <button class="btn btn-icon btn-link btn-danger btn-xs" id="remove-{{symbol}}" onclick="remove_from_watchlist('{{symbol}}')"><span class="far fa-trash-alt"></span></button>
                    </div>
                  </div>
                  <div class="separator-dashed"></div>
                </div>
              {% endfor %}
            </div>
            <!-- Card contents: Watchlist symbols END  -->

          </div>
        </div>
        <!-- LHS widget END -->

        <!-- RHS widget -->
        <div class="col-9">
          <div class="card">
            <div class="card-header">
              <div class="card-title"> Holdings </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="multi-filter-select" class="display table table-striped table-hover" >
                  <thead>
                    <tr>
                      <th>Holdings</th>
                      <th>Shares</th>
                      <th>Total cost($)</th>
                      <th>Current value</th>
                      <th>Change ($)</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for symbol, quantity, total_cost in holdings %}
                    <tr>
                      <td>{{symbol}}</td>
                      <td>{{quantity}}</td>
                      <td>${{total_cost}}</td>
                      <td>Placeholder</td>
                      <td>Placeholder</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>
            </div>

          </div>
        </div>


      </div>
    </div>




	</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>

    // Show remove-from-watchlist buttons
    function watchlist_settings() {
      document.querySelector('#btn_watchlist_settings').style.display = 'none';
      document.querySelector('#btn_watchlist_settings_done').style.display = 'block';
      document.querySelectorAll('.card-tools.watchlist-remove-btns').forEach(elem => {
        elem.style.display = 'block';
      })
    }

    // Hide remove-from-watchlist buttons
    function watchlist_settings_done() {
      document.querySelector('#btn_watchlist_settings').style.display = 'block';
      document.querySelector('#btn_watchlist_settings_done').style.display = 'none';
      document.querySelectorAll('.card-tools.watchlist-remove-btns').forEach(elem => {
        elem.style.display = 'none';
      })
    }

    // Remove symbol from watchlist
    function remove_from_watchlist(symbol) {

      // POST request
		  fetch(`/watchlist/${symbol}`, {
		      method: 'POST'
		  })
		  .then(response => response.json())
		  .then(result => {
		    // Remove symbol from watchlist table
		    if (result['message'] == `${symbol} removed from watchlist`) {
          // TODO:
          document.querySelector(`#watchlist-item-${symbol}`).style.display = 'none';
		    }

				// Display notification
				var content = {};

				content.title = result['user']+ "'s watchlist";
				content.message = result['message'];
				content.icon = 'flaticon-alarm-1';
				content.target = '_blank';

				$.notify(content,{
					type: 'info',
					placement: {
						from: 'bottom',
						align: 'right'
					},
					time: 1000,
				});

		  });

    }

  </script>

{% endblock javascripts %}
