{% extends "layouts/base.html" %}

{% block title %} Stocks {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">

		<!-- Page banner -->
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold"> <small> <a href="{% url 'home' %}"><i class="flaticon-home"></i></a> <i class="flaticon-right-arrow"></i> <a href="{% url 'quote' %}"> symbol search </a> <i class="flaticon-right-arrow"></i> </small> {{companyName}}</h2>
					</div>
				</div>
			</div>
		</div>

    <!-- Page inner -->
		<div class="page-inner mt--5">
			<div class="row mt--2">

				<!-- LHS widget -->
				<div class="col-4">

					<!-- Company financials -->
					<div class="card">
						<!-- Card header -->
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
                <h4 class="card-title">{{companyName}}</h4>
                <div class="card-tools">

									<!-- User add symbol to watchlist -->
                  {% if already_exist %}
                    <button class="btn btn-icon btn-link btn-primary btn-xs" id="watchlist_btn" onclick="watchlist('{{symbol}}')"><span class="fas fa-bookmark"></span></button>
                  {% else %}
                    <button class="btn btn-icon btn-link btn-primary btn-xs" id="watchlist_btn" onclick="watchlist('{{symbol}}')"><span class="far fa-bookmark"></span></button>
                  {% endif %}


									<button class="btn btn-icon btn-link btn-primary btn-xs" data-toggle="collapse" data-target="#data-collapse"><span class="fa fa-angle-down"></span></button>
                </div>
							</div>
							{% if changePercent > 0 %}
								<h5 class="card-title text-success"> <small>$</small>{{latestPrice}} <small>USD</small></h5>
								<h6 class="card-category text-success">↑{{change}} &nbsp; {{changePercent}}%</h6>
							{% else %}
								<h5 class="card-title text-danger"> <small>$</small>{{latestPrice}} <small>USD</small></h5>
								<h6 class="card-category text-danger">↓{{change}} &nbsp; {{changePercent}}%</h6>
							{% endif %}
						</div>

						<!-- Card contents: US symbols -->
						<div class="panel-collapse collapse show" id="data-collapse">
							<div class="card-body" id="default_US" style="display: block;">

	              <!-- Valuation -->
	              <p class="card-title">Valuation</p>
	              {% for key, value in valuation.items %}
	                <div class="d-flex bg-clr-hover">
	                  <div class="flex-1">
	                    <p class="card-text"><small>{{key}}</small></p>
	                  </div>
	                  <div class="float-right align-self-center">
	                    <h6 class="card-text"><b>{{value}}</b></h6>
	                  </div>
	                </div>
	              {% endfor %}
	              <div class="separator-dashed"></div>

	              <!-- Efficiency -->
	              <p class="card-title">Efficiency</p>
	              {% for key, value in efficiency.items %}
	                <div class="d-flex bg-clr-hover">
	                  <div class="flex-1">
	                    <p class="card-text"><small>{{key}}</small></p>
	                  </div>
	                  <div class="float-right align-self-center">
	                    <h6 class="card-text"><b>{{value}}</b></h6>
	                  </div>
	                </div>
	              {% endfor %}
	              <div class="separator-dashed"></div>

	              <!-- Liquidity -->
	              <p class="card-title">Liquidity</p>
	              {% for key, value in liquidity.items %}
	                <div class="d-flex bg-clr-hover">
	                  <div class="flex-1">
	                    <p class="card-text"><small>{{key}}</small></p>
	                  </div>
	                  <div class="float-right align-self-center">
	                    <h6 class="card-text"><b>{{value}}</b></h6>
	                  </div>
	                </div>
	              {% endfor %}
	              <div class="separator-dashed"></div>

	              <!-- Profitability -->
	              <p class="card-title">Profitability</p>
	              {% for key, value in profitability.items %}
	                <div class="d-flex bg-clr-hover">
	                  <div class="flex-1">
	                    <p class="card-text"><small>{{key}}</small></p>
	                  </div>
	                  <div class="float-right align-self-center">
	                    <h6 class="card-text"><b>{{value}}</b></h6>
	                  </div>
	                </div>
	              {% endfor %}
	              <div class="separator-dashed"></div>

	              <!-- Liquidity -->
	              <p class="card-title">Capitalization</p>
	              {% for key, value in capitalization.items %}
	                <div class="d-flex bg-clr-hover">
	                  <div class="flex-1">
	                    <p class="card-text"><small>{{key}}</small></p>
	                  </div>
	                  <div class="float-right align-self-center">
	                    <h6 class="card-text"><b>{{value}}</b></h6>
	                  </div>
	                </div>
	              {% endfor %}
	              <div class="separator-dashed"></div>

	            </div>

						</div>

					</div>
					<!-- Company financials END -->

					<!-- Company about -->
					<div class="card">
						<!-- Card header -->
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
                <h4 class="card-title">About</h4>
                <div class="card-tools">
									<button class="btn btn-icon btn-link btn-primary btn-xs" data-toggle="collapse" data-target="#about-collapse"><span class="fa fa-angle-down"></span></button>
                </div>
							</div>
							<!-- <p class="card-category"> {{description}}</p> -->
						</div>

						<!-- Card contents: US symbols -->
						<div class="panel-collapse collapse show" id="about-collapse">
							<div class="card-body" id="default_US" style="display: block;">

								<!-- About -->
								<div class="d-flex">
									<p class="card-category"> {{description}}</p>
								</div>
								<div class="separator-dashed"></div>

								<!-- CEO -->
								<div class="d-flex">
                  <div class="flex-1">
                    <p class="card-text"><small>CEO</small></p>
                  </div>
                  <div class="float-right align-self-center">
                    <h6 class="card-text"><b>{{CEO}}</b></h6>
                  </div>
                </div>
	              <div class="separator-dashed"></div>
								<!-- Address -->
								<div class="d-flex">
                  <div class="flex-1 align-self-center">
                    <p class="card-text"><small>Address</small></p>
                  </div>
                  <div class="float-right align-self-center">
										<h6 class="card-text"><b>{{address}},{{city}},{{state}},{{country}}</b></h6>
                  </div>
                </div>
	              <div class="separator-dashed"></div>
								<!-- Website -->
								<div class="d-flex">
                  <div class="flex-1">
                    <p class="card-text"><small>Website</small></p>
                  </div>
                  <div class="float-right align-self-center">
                    <h6 class="card-text"><b><a href="{{websote}}">{{website}}</a></b></h6>
                  </div>
                </div>
	              <div class="separator-dashed"></div>
								<!-- Employees -->
								<div class="d-flex">
                  <div class="flex-1">
                    <p class="card-text"><small>Employees</small></p>
                  </div>
                  <div class="float-right align-self-center">
                    <h6 class="card-text"><b>{{employees}}</b></h6>
                  </div>
                </div>
	              <div class="separator-dashed"></div>

							</div>
						</div>
					</div>


				</div>
        <!-- LHS widget END -->

				<!-- RHS widget -->
				<div class="col-8">

          <!-- TradingView widget -->
          <div class="card">
	          <!-- TradingView Widget BEGIN -->
	          <div class="tradingview-widget-container">
	            <div id="tradingview_3f5f9"></div>
	            <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/{{symbol}}/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div> -->
	            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
	            <script type="text/javascript">
	            new TradingView.widget(
	            {
	            "width": 656.66,
	            "height": 425,
	            "symbol": "{{symbol}}",
	            "interval": "60",
	            "timezone": "Etc/UTC",
	            "theme": "dark",
	            "style": "1",
	            "locale": "en",
	            "toolbar_bg": "#f1f3f6",
	            "enable_publishing": false,
	            "allow_symbol_change": false,
	            "container_id": "tradingview_1a598"
	          }
	            );
	            </script>
	          </div>
	          <!-- TradingView Widget END -->
	        </div>

					<!-- Paper Trading -->
					<div class="card card-primary">
						<!-- Card header -->
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<div class="card-title">Paper trading: Buy {{companyName}}</div>
								<div class="card-tools">
									<button class="btn btn-icon btn-link btn-white btn-xs" data-toggle="collapse" data-target="#pt-collapse"><span class="fa fa-angle-down"></span></button>
								</div>
							</div>
						</div>
						<!-- Card body -->
						<div class="panel-collapse collapse show" id="pt-collapse">
							<div class="card-body" id="papertrading">
								<label>Number of shares</label>
								<div class="form-group form-floating-label">
									<input type="text" class="form-control" aria-label="Shares" placeholder="0" name="shares">
								</div>


							</div>
						</div>


					</div>


					<!-- Financial news -->
					<div class="card">
						<!-- Card header -->
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<div class="card-title">Financial news</div>
							</div>
						</div>

						<!-- Card body-->
						<div class="card-body" id="symbol_news" style="display: block;">
							{% for src, title, url, publishedAt, img in symbol_articles %}
								<div class="d-flex">
									<div class="flex-1">
										<p class="card-text"><small class="text-muted">{{src}} • {{publishedAt}}</small></p>
										<a href="{{url}}" class="deco-none" target="_blanks"><p class="card-text">{{title}}</p></a>
									</div>
									<div class="float-right">
										<a href="{{url}}" target="_blank"><img src="{{img}}" onerror="this.style.display='none'" class="img-responsive fit-image rounded" style="max-width: 200px;" alt=""></a>
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>
					</div>
					<!-- Financial news END -->
				</div>


			</div>
		</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script>
		// Switch between US symbols and ETFs
		function load_tickers(category) {
			// Show US symbols
			if (category == 'US') {
				// Adjust display
				document.querySelector('#default_US').style.display = 'block';
				document.querySelector('#default_ETFs').style.display = 'none';
				// Adjust buttons
				document.getElementById('btn_US_tickers').className = 'btn btn-info btn-round btn-sm mr-1';
				document.getElementById('btn_ETFs_tickers').className = 'btn btn-info btn-border btn-round btn-sm mr-1';
			}
			// Show ETFs
			if (category == 'ETFs') {
				// Adjust display
				document.querySelector('#default_US').style.display = 'none';
				document.querySelector('#default_ETFs').style.display = 'block';
				// Adjust buttons
				document.getElementById('btn_US_tickers').className = 'btn btn-info btn-border btn-round btn-sm mr-1';
				document.getElementById('btn_ETFs_tickers').className = 'btn btn-info btn-round btn-sm mr-1';
			}
		}

		// Add/remove symbol to/from user watchlist
		function watchlist(symbol) {
		  var watchlist_btn = document.querySelector(`#watchlist_btn`);

		  // POST request
		  fetch(`/watchlist/${symbol}`, {
		      method: 'POST'
		  })
		  .then(response => response.json())
		  .then(result => {
		    // Change button to filled bookmark
		    if (result['message'] == `${symbol} added to watchlist`) {
		      watchlist_btn.innerHTML = '<span class="fas fa-bookmark">'
		    }
		    // Change button to hollow bookmark
		    if (result['message'] == `${symbol} removed from watchlist`) {
		      watchlist_btn.innerHTML = '<span class="far fa-bookmark">'
		    }

				// Display notification
				var content = {};

				content.title = result['user']+ "'s watchlist";
				content.message = result['message'];
				content.icon = 'flaticon-alarm-1';
				content.target = '_blank';

				$.notify(content,{
					type: 'info',
					placement: {
						from: 'bottom',
						align: 'right'
					},
					time: 1000,
				});


		  });
		}
	</script>


{% endblock javascripts %}
