{% extends "layouts/base.html" %}

{% block title %} Stocks {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">

		<!-- Page banner -->
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold"> <small> <a href="{% url 'home' %}"><i class="flaticon-home"></i></a> <i class="flaticon-right-arrow"></i> <a href="{% url 'quote' %}"> symbol search </a> <i class="flaticon-right-arrow"></i> </small> {{companyName}}</h2>
					</div>
				</div>
			</div>
		</div>

    <!-- Page inner -->
		<div class="page-inner mt--5">
			<div class="row mt--2">

				<!-- LHS widget -->
				<div class="col-4">

					<!-- Company financials -->
					<div class="card">
						<!-- Card header -->
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
                <h4 class="card-title">{{companyName}}</h4>
                <div class="card-tools">

									<!-- User add symbol to watchlist -->
                  {% if already_exist %}
                    <button class="btn btn-icon btn-link btn-primary btn-xs" id="watchlist_btn" onclick="watchlist('{{symbol}}')"><span class="fas fa-bookmark"></span></button>
                  {% else %}
                    <button class="btn btn-icon btn-link btn-primary btn-xs" id="watchlist_btn" onclick="watchlist('{{symbol}}')"><span class="far fa-bookmark"></span></button>
                  {% endif %}


									<button class="btn btn-icon btn-link btn-primary btn-xs" data-toggle="collapse" data-target="#data-collapse"><span class="fa fa-angle-down"></span></button>
                </div>
							</div>
							{% if changePercent > 0 %}
								<h5 class="card-title text-success"> <small>$</small>{{latestPrice}} <small>USD</small></h5>
								<h6 class="card-category text-success">↑{{change}} &nbsp; {{changePercent}}%</h6>
							{% else %}
								<h5 class="card-title text-danger"> <small>$</small>{{latestPrice}} <small>USD</small></h5>
								<h6 class="card-category text-danger">↓{{change}} &nbsp; {{changePercent}}%</h6>
							{% endif %}
						</div>

						<!-- Card contents: US symbols -->
						<div class="panel-collapse collapse show" id="data-collapse">
							<div class="card-body" id="default_US" style="display: block;">

	              <!-- Valuation -->
	              <p class="card-title">Valuation</p>
	              {% for key, value in valuation.items %}
	                <div class="d-flex bg-clr-hover">
	                  <div class="flex-1">
	                    <p class="card-text"><small>{{key}}</small></p>
	                  </div>
	                  <div class="float-right align-self-center">
	                    <h6 class="card-text"><b>{{value}}</b></h6>
	                  </div>
	                </div>
	              {% endfor %}
	              <div class="separator-dashed"></div>

	              <!-- Efficiency -->
	              <p class="card-title">Efficiency</p>
	              {% for key, value in efficiency.items %}
	                <div class="d-flex bg-clr-hover">
	                  <div class="flex-1">
	                    <p class="card-text"><small>{{key}}</small></p>
	                  </div>
	                  <div class="float-right align-self-center">
	                    <h6 class="card-text"><b>{{value}}</b></h6>
	                  </div>
	                </div>
	              {% endfor %}
	              <div class="separator-dashed"></div>

	              <!-- Liquidity -->
	              <p class="card-title">Liquidity</p>
	              {% for key, value in liquidity.items %}
	                <div class="d-flex bg-clr-hover">
	                  <div class="flex-1">
	                    <p class="card-text"><small>{{key}}</small></p>
	                  </div>
	                  <div class="float-right align-self-center">
	                    <h6 class="card-text"><b>{{value}}</b></h6>
	                  </div>
	                </div>
	              {% endfor %}
	              <div class="separator-dashed"></div>

	              <!-- Profitability -->
	              <p class="card-title">Profitability</p>
	              {% for key, value in profitability.items %}
	                <div class="d-flex bg-clr-hover">
	                  <div class="flex-1">
	                    <p class="card-text"><small>{{key}}</small></p>
	                  </div>
	                  <div class="float-right align-self-center">
	                    <h6 class="card-text"><b>{{value}}</b></h6>
	                  </div>
	                </div>
	              {% endfor %}
	              <div class="separator-dashed"></div>

	              <!-- Liquidity -->
	              <p class="card-title">Capitalization</p>
	              {% for key, value in capitalization.items %}
	                <div class="d-flex bg-clr-hover">
	                  <div class="flex-1">
	                    <p class="card-text"><small>{{key}}</small></p>
	                  </div>
	                  <div class="float-right align-self-center">
	                    <h6 class="card-text"><b>{{value}}</b></h6>
	                  </div>
	                </div>
	              {% endfor %}
	              <div class="separator-dashed"></div>

	            </div>

						</div>

					</div>
					<!-- Company financials END -->

					<!-- Company about -->
					<div class="card">
						<!-- Card header -->
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
                <h4 class="card-title">About</h4>
                <div class="card-tools">
									<button class="btn btn-icon btn-link btn-primary btn-xs" data-toggle="collapse" data-target="#about-collapse"><span class="fa fa-angle-down"></span></button>
                </div>
							</div>
							<!-- <p class="card-category"> {{description}}</p> -->
						</div>

						<!-- Card contents: US symbols -->
						<div class="panel-collapse collapse show" id="about-collapse">
							<div class="card-body" id="default_US" style="display: block;">

								<!-- About -->
								<div class="d-flex">
									<p class="card-category"> {{description}}</p>
								</div>
								<div class="separator-dashed"></div>

								<!-- CEO -->
								<div class="d-flex">
                  <div class="flex-1">
                    <p class="card-text"><small>CEO</small></p>
                  </div>
                  <div class="float-right align-self-center">
                    <h6 class="card-text"><b>{{CEO}}</b></h6>
                  </div>
                </div>
	              <div class="separator-dashed"></div>
								<!-- Address -->
								<div class="d-flex">
                  <div class="flex-1 align-self-center">
                    <p class="card-text"><small>Address</small></p>
                  </div>
                  <div class="float-right align-self-center">
										<h6 class="card-text"><b>{{address}},{{city}},{{state}},{{country}}</b></h6>
                  </div>
                </div>
	              <div class="separator-dashed"></div>
								<!-- Website -->
								<div class="d-flex">
                  <div class="flex-1">
                    <p class="card-text"><small>Website</small></p>
                  </div>
                  <div class="float-right align-self-center">
                    <h6 class="card-text"><b><a href="{{websote}}">{{website}}</a></b></h6>
                  </div>
                </div>
	              <div class="separator-dashed"></div>
								<!-- Employees -->
								<div class="d-flex">
                  <div class="flex-1">
                    <p class="card-text"><small>Employees</small></p>
                  </div>
                  <div class="float-right align-self-center">
                    <h6 class="card-text"><b>{{employees}}</b></h6>
                  </div>
                </div>
	              <div class="separator-dashed"></div>

							</div>
						</div>
					</div>


				</div>
        <!-- LHS widget END -->

				<!-- RHS widget -->
				<div class="col-8">

          <!-- TradingView widget -->
          <div class="card">
	          <!-- TradingView Widget BEGIN -->
	          <div class="tradingview-widget-container">
	            <div id="tradingview_3f5f9"></div>
	            <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/{{symbol}}/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div> -->
	            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
	            <script type="text/javascript">
	            new TradingView.widget(
	            {
	            "width": 656.66,
	            "height": 425,
	            "symbol": "{{symbol}}",
	            "interval": "60",
	            "timezone": "Etc/UTC",
	            "theme": "dark",
	            "style": "1",
	            "locale": "en",
	            "toolbar_bg": "#f1f3f6",
	            "enable_publishing": false,
	            "allow_symbol_change": false,
	            "container_id": "tradingview_1a598"
	          }
	            );
	            </script>
	          </div>
	          <!-- TradingView Widget END -->
	        </div>

					<!-- Paper Trading -->
					<div class="card card-primary bg-primary-gradient">
						<!-- Card header -->
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<div class="card-title">Paper trading</div>
								<div class="card-tools">
									<button class="btn btn-icon btn-link btn-white btn-xs" data-toggle="collapse" data-target="#pt-collapse"><span class="fa fa-angle-down"></span></button>
								</div>
							</div>
						</div>
						<!-- Card body -->
						<div class="panel-collapse collapse show" id="pt-collapse">

							<div class="text-center">
								<button type="button" class="btn btn-default btn-rounded btn-s mr-2" id="btn_papertrading_buy" onclick="load_papertrading('buy')">Buy</button>
								<button type="button" class="btn btn-default btn-rounded btn-border btn-s ml-2" id="btn_papertrading_sell" onclick="load_papertrading('sell')">Sell</button>
							</div>

							<!-- Papertrading -->
							<div class="card-body text-center" id="papertrading" style="display: block;">
								<h3 class="b-b1 fw-bold" id="buy_header" style="display: block;"> Buy {{companyName}} - <small>$</small>{{latestPrice}}<small>USD</small></h3>
								<h3 class="b-b1 fw-bold" id="sell_header" style="display: none;"> Sell {{companyName}} - <small>$</small>{{latestPrice}}<small>USD</small></h3>
								<h3 id="user_shares"> Current investment: {{quantity}} shares </h3>
								<!-- <div class="card-text" id="user_shares"> Current position: <b>{{quantity}}</b> shares </div> -->
								<div class="card-text"> Number of shares: </div>

								<!-- Hidden share price, to pass to javaScript function -->
								<input type="hidden" id="symbol" value="{{symbol}}">
								<input type="hidden" id="share_price" value="{{latestPrice}}">
								<input type="hidden" id="cash_balance" value="{{cash_balance}}">
								<input type="hidden" id="shares_value_input" value=0>
								<input type="hidden" id="quantity" value="{{quantity}}">

								<!-- Buy: Number of shares form -->
								<form>
									<div class="row d-flex justify-content-center">
										<div class="col-md-6">
											<!-- Input for number of shares -->
											<div class="form-group">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text" onclick="decrementValue()"><i class="fas fa-minus"></i></span>
													</div>
													<input type="text" class="form-control text-center" value="0" id="shares" name="shares" aria-label="shares">
													<div class="input-group-append">
														<span class="input-group-text" onclick="incrementValue()"><i class="fas fa-plus"></i></span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Shares value total -->
									<div class="card-title" id="shares_value" value="0"><small>$</small>0<small>USD</small></div>
									<button type="button" class="btn btn-default btn-s" id="review_order_buy" style="display: inline-block;">Buy order</button>
									<button type="button" class="btn btn-default btn-s" id="review_order_sell" style="display: none;">Sell order</button>

								</form>
							</div>
							<!-- Papertrading END -->

						</div>


					</div>


					<!-- Financial news -->
					<div class="card">
						<!-- Card header -->
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<div class="card-title">Financial news</div>
							</div>
						</div>

						<!-- Card body-->
						<div class="card-body" id="symbol_news" style="display: block;">
							{% for src, title, url, publishedAt, img in symbol_articles %}
								<div class="d-flex">
									<div class="flex-1">
										<p class="card-text"><small class="text-muted">{{src}} • {{publishedAt}}</small></p>
										<a href="{{url}}" class="deco-none" target="_blanks"><p class="card-text">{{title}}</p></a>
									</div>
									<div class="float-right">
										<a href="{{url}}" target="_blank"><img src="{{img}}" onerror="this.style.display='none'" class="img-responsive fit-image rounded" style="max-width: 200px;" alt=""></a>
									</div>
								</div>
								<div class="separator-dashed"></div>
							{% endfor %}
						</div>
					</div>
					<!-- Financial news END -->
				</div>


			</div>
		</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script>
		// Switch between US symbols and ETFs
		function load_tickers(category) {
			// Show US symbols
			if (category == 'US') {
				// Adjust display
				document.querySelector('#default_US').style.display = 'block';
				document.querySelector('#default_ETFs').style.display = 'none';
				// Adjust buttons
				document.getElementById('btn_US_tickers').className = 'btn btn-info btn-round btn-sm mr-1';
				document.getElementById('btn_ETFs_tickers').className = 'btn btn-info btn-border btn-round btn-sm mr-1';
			}
			// Show ETFs
			if (category == 'ETFs') {
				// Adjust display
				document.querySelector('#default_US').style.display = 'none';
				document.querySelector('#default_ETFs').style.display = 'block';
				// Adjust buttons
				document.getElementById('btn_US_tickers').className = 'btn btn-info btn-border btn-round btn-sm mr-1';
				document.getElementById('btn_ETFs_tickers').className = 'btn btn-info btn-round btn-sm mr-1';
			}
		}

		// Add/remove symbol to/from user watchlist
		function watchlist(symbol) {
		  var watchlist_btn = document.querySelector(`#watchlist_btn`);

		  // POST request
		  fetch(`/watchlist/${symbol}`, {
		      method: 'POST'
		  })
		  .then(response => response.json())
		  .then(result => {
		    // Change button to filled bookmark
		    if (result['message'] == `${symbol} added to watchlist`) {
		      watchlist_btn.innerHTML = '<span class="fas fa-bookmark">'
		    }
		    // Change button to hollow bookmark
		    if (result['message'] == `${symbol} removed from watchlist`) {
		      watchlist_btn.innerHTML = '<span class="far fa-bookmark">'
		    }

				// Display notification
				var content = {};

				content.title = result['user']+ "'s watchlist";
				content.message = result['message'];
				content.icon = 'flaticon-alarm-1';
				content.target = '_blank';

				$.notify(content,{
					type: 'info',
					placement: {
						from: 'bottom',
						align: 'right'
					},
					time: 1000,
				});

		  });
		}

		// Paper trading: load buy or sell
		function load_papertrading(direction) {
			// Load Buy info
			if (direction == 'buy') {
				document.getElementById('btn_papertrading_buy').className = 'btn btn-default btn-rounded btn-s ml-2';
				document.getElementById('btn_papertrading_sell').className = 'btn btn-default btn-rounded btn-border btn-s ml-2';
				document.getElementById('buy_header').style.display = 'block';
				document.getElementById('sell_header').style.display = 'none';
				document.getElementById('review_order_buy').style.display = 'inline-block';
				document.getElementById('review_order_sell').style.display = 'none';
			}
			// Load Sell info
			if (direction == 'sell') {
				document.getElementById('btn_papertrading_buy').className = 'btn btn-default btn-rounded btn-border btn-s ml-2';
				document.getElementById('btn_papertrading_sell').className = 'btn btn-default btn-rounded btn-s ml-2';
				document.getElementById('buy_header').style.display = 'none';
				document.getElementById('sell_header').style.display = 'block';
				document.getElementById('review_order_buy').style.display = 'none';
				document.getElementById('review_order_sell').style.display = 'inline-block';
			}
		}

		// Paper trading: increase number of shares
		function incrementValue() {
		    var shares = parseInt(document.getElementById('shares').value, 10);
		    shares = isNaN(shares) ? 0 : shares;
		    shares++;
		    document.getElementById('shares').value = shares;
				// Update shareprice total
				var share_price = parseFloat(document.getElementById('share_price').value);
				var shares_value = Math.round( (share_price * shares) * 100)/100; // Round to 2 decimal places
				document.getElementById('shares_value_input').value = shares_value;
				document.getElementById('shares_value').innerHTML = '<small>$</small>'+ shares_value + '<small>USD</small>';
		}

		// Paper trading: decrease number of shares
		function decrementValue() {
			var shares = parseInt(document.getElementById('shares').value, 10);
			shares = isNaN(shares) ? 0 : shares;
			if (shares > 0) {
				shares--;
			}
			document.getElementById('shares').value = shares;
			// Update shareprice total
			var share_price = parseFloat(document.getElementById('share_price').value);
			var shares_value = Math.round( (share_price * shares) * 100)/100; // Round to 2 decimal places
			document.getElementById('shares_value_input').value = shares_value;
			document.getElementById('shares_value').innerHTML = '<small>$</small>'+ shares_value + '<small>USD</small>';
		}

		// Paper trading: jQuery to update shareprice total on user input
		$("#shares").on("change keyup paste click input", function(){
			var shares = parseInt(document.getElementById('shares').value, 10);
			var share_price = parseFloat(document.getElementById('share_price').value);
			var shares_value = Math.round( (share_price * shares) * 100)/100; // Round to 2 decimal places
			if (shares>0) {
				document.getElementById('shares_value_input').value = shares_value;
				document.getElementById('shares_value').innerHTML = '<small>$</small>'+ shares_value + '<small>USD</small>';
			}
			else {
				document.getElementById('shares_value_input').value = 0;
				document.getElementById('shares_value').innerHTML = '<small>$</small>'+ 0 + '<small>USD</small>';;
			}

		})

		// Paper trading: BUY order
		$('#review_order_buy').click(function(e) {
			var symbol = document.getElementById('symbol').value;
			var shares = parseInt(document.getElementById('shares').value);
			var share_price = parseFloat(document.getElementById('share_price').value);
			var cash_balance = parseFloat(document.getElementById('cash_balance').value);
			var shares_value = parseFloat(document.getElementById('shares_value_input').value);
			var current_shares = parseInt(document.getElementById('quantity').value);

			if (shares < 0) {
				swal("Error!", "Incorrect shares input", {
					icon : "error",
					buttons: {
						confirm: {
							className : 'btn btn-danger'
						}
					},
				});
			} else {
				swal({
					title: 'Review order',
					text: 'Available balance: $' + cash_balance + '\n Symbol: ' + symbol + '\n Share price: $' + share_price + '\n Number of shares: ' + shares + '\n Total: $' + shares_value,
					type: 'warning',
					buttons:{
						confirm: {
							text : 'Buy',
							className : 'btn btn-success'
						},
						cancel: {
							visible: true,
							className: 'btn btn-danger'
						}
					}
				}).then((Buy) => {
					if (Buy) {
						// POST request to urls /buy route
						fetch('/buy', {
							method: 'POST',
							body: JSON.stringify({
								symbol: symbol,
								shares: shares,
								share_price: share_price,
								cash_balance: cash_balance,
								shares_value: shares_value,
							})
						})
						.then(response => response.json())
						.then(result => {
							// if trade completed succesfully
							if ('message' in result) {
								// Confirmation alert
								swal({
									title: 'Complete!',
									text: 'Trade has been executed',
									icon: "success",
									type: 'success',
									buttons : {
										confirm: {
											className : 'btn btn-success'
										}
									}
								});
								// Update share count
								var new_quantity = parseInt(current_shares) + parseInt(shares);
								document.getElementById('user_shares').innerHTML = 'Current investment: '+ new_quantity + ' shares';
								document.getElementById('quantity').value = new_quantity;
							}
						})

					} else {
						swal.close();
					}
				});
			}


		});

		// Paper trading: SELL order
		$('#review_order_sell').click(function(e) {
			var symbol = document.getElementById('symbol').value;
			var shares = parseInt(document.getElementById('shares').value);
			var share_price = parseFloat(document.getElementById('share_price').value);
			var cash_balance = parseFloat(document.getElementById('cash_balance').value);
			var shares_value = parseFloat(document.getElementById('shares_value_input').value);
			var current_shares = parseInt(document.getElementById('quantity').value);

			if (shares > current_shares) {
				swal("Error!", "Insufficient shares owned", {
					icon : "error",
					buttons: {
						confirm: {
							className : 'btn btn-danger'
						}
					},
				});
			} else if (shares < 0) {
				swal("Error!", "Incorrect shares input", {
					icon : "error",
					buttons: {
						confirm: {
							className : 'btn btn-danger'
						}
					},
				});
			} else {
				swal({
					title: 'Review order',
					text: 'Available balance: $' + cash_balance + '\n Symbol: ' + symbol + '\n Share price: $' + share_price + '\n Number of shares: ' + shares + '\n Total: $' + shares_value,
					type: 'warning',
					buttons:{
						confirm: {
							text : 'Sell',
							className : 'btn btn-success'
						},
						cancel: {
							visible: true,
							className: 'btn btn-danger'
						}
					}
				}).then((Sell) => {
					if (Sell) {
						// POST request to urls /buy route
						fetch('/sell', {
							method: 'POST',
							body: JSON.stringify({
								symbol: symbol,
								shares: shares,
								share_price: share_price,
								cash_balance: cash_balance,
								shares_value: shares_value,
							})
						})
						.then(response => response.json())
						.then(result => {
							// if trade completed succesfully
							if ('message' in result) {
								// Confirmation alert
								swal({
									title: 'Complete!',
									text: 'Trade has been executed',
									icon: "success",
									type: 'success',
									buttons : {
										confirm: {
											className : 'btn btn-success'
										}
									}
								});
								// Update share count
								var new_quantity = parseInt(current_shares) - parseInt(shares);
								document.getElementById('user_shares').innerHTML = 'Current investment: '+ new_quantity + ' shares';
								document.getElementById('quantity').value = new_quantity;
							}
						})

					} else {
						swal.close();
					}
				});
			}

		});

	</script>


{% endblock javascripts %}
